<!-- Footer -->
        <footer id="sticky-footer" class="mt-4 py-3 bg-light">
          <div class="container text-center text-light">
         <!-- Grid row-->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-12">
                <div class="mb-3 flex-center">

                  <p>REJOIGNEZ MOI</p>

                  <!-- Facebook -->
                  <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mx-4 fa-2x"> </i>
                  </a>
                  <!--Instagram-->
                  <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mx-4 fa-2x"> </i>
                  </a>
                 
                </div>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->
              <small>Copyright &copy; Love Origin Kitchen</small>
          </div>
        </footer>
<!-- Footer -->