<h1 class='mt-2'>Lorem Ipsum</h1>
<div class='row'>
  <div class='col-12 col-md-8 my-2 '>
    <div>
      <div>
	      <%@home.each do |home| %>
  	    <%=break_line(home.commander)%>
      </div> 
      <div>
		    <%=  link_to "COMMANDER",macommande_path, :class =>'btn btn-success float-right w-25 mb-3 py-1'%>
      </div>
    </div>
  </div>
	
  <div class='col-12 col-md-4 poulpe'>	
    <figure class="figure p-2">
    </figure>
      <figure class="figure p-2">
      <%= cl_image_tag home.photo_commande_index, class:"card-img-top mt-5"%>
      <figcaption class="figure-caption text-right">Bento Healthy Eating</figcaption>
    </figure>
  </div>
	  <%end%>

</div>


