<div class='row d-bloc'>
  <%@home.each do |home|%>

	<div class='col-md-8 col-lg-8 float-left text-justify mt-4'>
	  <%=break_line(home.parcours)%>	
	</div>

	<div class='col-sm-4'>

		
	</div>	
<%end%>
</div>
