<h1 class="mt-2">Mon parcours</h1>	

<div class='row d-bloc '>
  <%@home.each do |home|%>

	<div class='col-md-8 col-lg-8 float-left text-justify my-2'>
	  <%=break_line(home.parcours)%>	
	</div>

	<div class='col-sm-4'>
		 <%= cl_image_tag home.photo_parcours, class:"card-img-top"%>

		
	</div>	
<%end%>
</div>
