.hide {
    display: none;
}

textarea.form-control {
    height: 30vh !important;
}

 body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 400;
    line-height: 1.5;
    color: blue;
    text-align: left;
    background-color: #F7F7F7 !important;
}

.image {
	width: 122px;
	height: 122px;
}
#sticky-footer {
    background-color: #3C3D41 !important;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #3C3D41 !important;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem !important;
    padding-left: 3rem !important;
	}
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
 	}
}
